  <h2>

    <%= link_to post.title, post %>

    <div class="right">
      <%= form_for(Heart.new) do |f| %>
        <%= f.hidden_field :post_id, value: post.id %>
        <%= image_submit_tag("heart.png", class: "heart") %>
      <% end %>
    </div>
  </h2>
  <p class="radius secondary label">Written at <%= post.created_at.to_formatted_s(:long) %></p>

  <p>
    <% if post.kind == 'image' %>
      <%= image_tag post.content, style: "width: 100%" %>
    <% else %>
      <%= simple_format(post.content) %>
    <% end %>
  </p>

  <small class="right">
    <%= post.hearts.count %> Hearts
  </small>
